packages:
  yum:
    git: []
    htop: []
    redis: []
    
commands:
  01_update_composer:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update 2.6.5

option_settings:
  aws:elasticbeanstalk:application:environment:
    COMPOSER_HOME: /root
  aws:elasticbeanstalk:container:php:phpini:
    memory_limit: 512M
    upload_max_filesize: 64M
    post_max_size: 64M
    max_execution_time: 300
    max_input_time: 300
    zlib.output_compression: "Off"