commands:
  01_fix_storage_permissions:
    command: |
      sudo chmod -R 755 storage/
      sudo chmod -R 755 bootstrap/cache/
      sudo chown -R webapp:webapp storage/
      sudo chown -R webapp:webapp bootstrap/cache/
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/laravel.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/app/current/storage/logs/*.log

  "/opt/elasticbeanstalk/tasks/taillogs.d/laravel.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/app/current/storage/logs/laravel.log